<div>
    <div class="head">
        <span>{{action}} Service in {{serviceType}}</span>
    </div>
    <div class="body" *ngIf="pageType === 'service'">
        <form class="example-container" [formGroup]="serviceForm">
            <mat-form-field>
                <input matInput placeholder="Service Name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Duration(in Min)" formControlName="time" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Price Incl Tax(0%)" formControlName="priceInclTax" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Availablity For" formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Every One">Every One</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-row">
                <button mat-raised-button color="primary" [disabled]="!serviceForm.valid" (click)="addService()">Save</button>
                <button mat-raised-button color="primary" (click)="closeDailog()">Close</button>
            </div>
        </form>
    </div>

    <!-- Service subtypes adding -->
    <div class="body" *ngIf="pageType === 'serviceSubType'">
        <mat-radio-group [(ngModel)]="selectedType">
            <mat-radio-button value="1" class="mr-3">Service</mat-radio-button>
            <mat-radio-button value="2" class="mr-3">Sub Category Name</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="subServiceName">
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="addSubService()">Save</button>
            <button mat-raised-button color="primary" (click)="closeDailog()">Close</button>
        </div>
    </div>
    <div class="foot"></div>
</div>