<div>
    <div class="head">
        <span>{{action}} Staff</span>
    </div>
    <div class="body">

        <form class="example-container" [formGroup]="staffForm">
            <mat-tab-group>
                <mat-tab label="Profile">
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Gender" formControlName="gender">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Mobile" formControlName="phone" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Position" formControlName="position" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Work for" formControlName="workFor">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Any">Any</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-card>
                        <mat-card-content>
                            <h4 class="example-h2">Preference Configuration</h4>
                            <section class="example-section">
                                <mat-checkbox class="example-margin">All</mat-checkbox>
                                <mat-checkbox class="example-margin" formArrayName="preferences" *ngFor="let service of services;" (change)="addPreferences($event, service)">{{service.category}}</mat-checkbox>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Timings">
                    <mat-list>
                        <mat-list-item formArrayName="timings" *ngFor="let time of staffForm.get('timings').controls; let i=index;">
                            <span [formGroupName]="i" class="row w-100">
                                <div class="col-1">
                                    <mat-checkbox formControlName="status"></mat-checkbox>
                                </div>
                                <div class="col-1">
                                    <span>{{time.get('day').value}}</span>
                                </div>
                                <div class="col-8">
                                    <input type="time" formControlName="from"> &nbsp;
                                    <input type="time" formControlName="to">
                                </div>
                            </span>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </form>
        <!-- <p>{{staffForm.value | json}}</p> -->
    </div>
    <div class="foot">
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="addStaff()">Save</button>
            <button mat-raised-button color="primary" (click)="closeDailog()">Close</button>
        </div>
    </div>
</div>