<div class="dashboard">

  <div class="row header p-1 m-1">
    <div class="col-sm-6">
      <h4>Dashboard</h4>
    </div>
    <div class="col-sm-6">
      <select id="inputState" class="form-control form-control-sm col-sm-2 float-sm-right">
        <option selected>Today</option>
        <option>Month</option>
        <option>Year</option>
        <option>Custome</option>
      </select>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-sm-3">
      <mat-card class="p-0 m-2">
        <div class="row">
          <div class="col-sm-4 pt-3 pl-3 red-1">
            <mat-icon class="dIcon">gradient</mat-icon>
          </div>
          <div class="col-sm-8 p-3 red-2">
            <span class="dTitle">Products</span>
            <div class="dValue">250</div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-3">
        <mat-card class="p-0 m-2">
          <div class="row">
            <div class="col-sm-4 pt-3 pl-3 green-1">
              <mat-icon class="dIcon">settings_input_svideo</mat-icon>
            </div>
            <div class="col-sm-8 p-3 green-2">
              <span class="dTitle">Services</span>
              <div class="dValue">2050</div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-sm-3">
          <mat-card class="p-0 m-2">
            <div class="row">
              <div class="col-sm-4 pt-3 pl-3 blue-1">
                <mat-icon class="dIcon">wc</mat-icon>
              </div>
              <div class="col-sm-8 p-3 blue-2">
                <span class="dTitle">Staff</span>
                <div class="dValue">20</div> 
              </div>
            </div>
          </mat-card>
        </div>

        <div class="col-sm-3">
            <mat-card class="p-0 m-2">
              <div class="row">
                <div class="col-sm-4 pt-3 pl-3 purpul-1">
                  <mat-icon class="dIcon">people</mat-icon>
                </div>
                <div class="col-sm-8 p-3 purpul-2">
                  <span class="dTitle">Customers</span>
                  <div class="dValue">20</div>
                </div>
              </div>
            </mat-card>
          </div>

  </div>
</div>