<div>
    <div class="head">
        <span>{{action}} Customer</span>
    </div>
    <div class="body">
        <form class="example-container" [formGroup]="customerForm">
            <mat-form-field>
                <input matInput placeholder="Customer Name" formControlName="fullname">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Gender" formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Customer Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Customer Phone No" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Date of Birth" [matDatepicker]="picker" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="button-row">
                <button mat-raised-button color="primary" [disabled]="!customerForm.valid" (click)="addCustomer()">Save</button>
                <button mat-raised-button color="primary" (click)="closeDailog()">Close</button>
            </div>
        </form>
    </div>
    <div class="foot"></div>
</div>